@import "/src/theme-vars";

.button {
  font-size: 12px !important;
  color: white;
  border: 0;
  padding: 12px 0;
  width: 256px;
  border-radius: 4px;
  font-weight: 600 !important;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > *,
.btn,
.btn > * {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.button span {
  display: inline-block;
}

.btn-primary {
  background-color: @primary-1 !important;
}

.btn-primary > i.icon {
  margin: 0 6px;
}

.btn-primary > i.icon svg {
  fill: white !important;
  width: 15px;
  height: 15px;
}

.btn-follow {
  background-color: white !important;
  border: 2px solid @follow-button-color;
  color: @primary-2;
}

.btn-follow:hover {
  background-color: @follow-button-hover-color !important;
}

.btn-follow:active {
  border-color: @follow-button-hover-color !important;
}

.ant-btn-primary {
  background-color: @primary-1 !important;
  border-color: @primary-1 !important;
}