<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="kz.uco.kzm"/>
    <bean id="uactivity_ActivityListener" class="kz.uco.kzm.listener.ExtActivityListenerKzm"/>

</beans>
